/********************* FLASH MESSAGES *********************/
div#flashmessages {
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 6000;
}

/********************* FLASH MESSAGES *********************/


/********************* MODAL FORMS *********************/
.modal-body {
    background: #ECEBF1;
}
/********************* MODAL FORMS *********************/

/********************* HOVER TABLES *********************/
.table-hover tr:hover {
    color: white;
}

.table-hover a:hover {
    color: white;
}
/********************* HOVER TABLES *********************/