/********************* FLASH MESSAGES *********************/
div#flashmessages {
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 5000;
}

/********************* FLASH MESSAGES *********************/