/********************* FLASH MESSAGES *********************/
div#flashmessages {
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 6000;
}

/********************* FLASH MESSAGES *********************/


/********************* MODEL FORMS *********************/
.modal-body {
    background: #ECEBF1;
}
/********************* MODEL FORMS *********************/