title = "Dealer Home | VerveTronix"
url = "/dealers/home"
layout = "master-layout"
description = "Dealer Home | VerveTronix"
is_hidden = "0"
meta_title = "Dealer Home | VerveTronix"

[dealerSession]
security = "dealer"
redirect = "dealer-login"

[dealerOrders]
==
{% component "dealerOrders" %}
{% partial "trans-header" %}

<script type="text/javascript">
var oxyThemeData = {
    navbarHeight: 90,
    navbarScrolled: 70,
    navbarScrolledPoint: 200,
    navbarScrolledSwatches:
    {
        up: 'swatch-black',
        down: 'swatch-white'
    },
    scrollFinishedMessage: 'No more items to load.',
    hoverMenu:
    {
        hoverActive: true,
        hoverDelay: 1,
        hoverFadeDelay: 200
    }
};
</script>

<div id="content">
    <article>
        <section class="section swatch-blue section-text-shadow section-inner-shadow">
            <div class="background-media" style="background-image: url('{{ 'assets/images/uploads/image-02-normal.jpg'|theme }}'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: 50% 0%;" data-start="background-position:"
            data-70-top-bottom="background-position:">
            </div>
            <div class="background-overlay grid-overlay-20 " style="background-color: rgba(0,0,0,0.4);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <header class="text-center element-tall-top element-tall-bottom condensed">
                            <h1 class="super hairline bordered-normal">
                                {% if dealer %}
                                    Welcome {{ dealer.username }}
                                {% else %}
                                    Welcome Dealer
                                {% endif %}
                            </h1>
                        </header>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="section swatch-black">
            <div class="container">
                <div class="row element-tall-top element-tall-bottom">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="tabbable ''">
                            <ul class="nav nav-tabs" data-tabs="tabs">
                                <!-- Nav tabs -->
                                <li class="active"><a href="#new-order" data-toggle="tab">New Order</a>
                                </li>
                                <li><a href="#pending-orders" data-toggle="tab">Pending Orders</a>
                                </li>
                                <li><a href="#shipments" data-toggle="tab">Shipments</a>
                                </li>
                                <li><a href="#resources" data-toggle="tab">Resources</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <!-- Tab panes -->
                                <div class="tab-pane fade in active" id="new-order">
                                    {% verbatim %}
                                    <div id="vue-ordering-system">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Product</th>
                                                    <th>Unit Price</th>
                                                    <th>Order Qty</th>
                                                    <th>Line Value</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="product in products" 
                                                    is="line-item"
                                                    :product="product"
                                                    :lines.sync="lines">
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="row os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0s" 
                                             v-show="hasAnOrder">
                                            <div class="col-md-8">
                                                <div class="order-controls pull-right">
                                                    <button class="btn btn-default"
                                                            @click="saveOrder">
                                                        Save Order
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="panel panel-success element-no-top element-short-bottom">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title">
                                                            Order Total
                                                        </h3>
                                                    </div>
                                                    <div class="panel-body swatch-gray">
                                                        <div class=" element-no-top element-no-bottom" data-os-animation="none" data-os-animation-delay="0s">
                                                            <p>
                                                                <strong>{{ order_total | currency }}</strong>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <template id="line-item-template">
                                        <tr>
                                            <td>{{ product.id }}</td>
                                            <td>{{ product.name }}</td>
                                            <td>{{ product.dealer_price | currency }}</td>
                                            <td>
                                                <input type="number" min="0" placeholder="Add Qty"
                                                       v-model="order_qty"
                                                       @blur="addToOrder">
                                            </td>
                                            <td>{{ lineValue | currency }}</td>
                                        </tr>
                                    </template>
                                </div>
                                {% endverbatim %}
                                <div class="tab-pane fade in" id="pending-orders">
                                    <div class=" element-no-top element-no-bottom" data-os-animation="none" data-os-animation-delay="0s">
                                        <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Order ID</th>
                                                <th>Order Date</th>
                                                <th>Last Modified</th>
                                                <th>Tentative Shipping On</th>
                                                <th>Order Amount</th>
                                                <th>Options</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if pendingOrders %}
                                                {% for order in pendingOrders %}
                                                <tr>
                                                    <td>{{ order.id }}</td>
                                                    <td>{{ order.created_at|date("F jS | g:iA") }}</td>
                                                    <td>{{ order.updated_at|date("F jS | g:iA") }}</td>
                                                    <td>
                                                        {% if order.tentative_shipping_on %}
                                                            {{ order.tentative_shipping_on|date("F jS | g:iA") }}
                                                        {% else %}
                                                            <cite>Yet to be allocated.</cite>
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ ['$', order.total_value]|join }}</td>
                                                    <td>
                                                        <a href="/dealers/orders/{{ order.id }}/edit" class="btn btn-sm btn-default" role="button">
                                                            <i class="fa fa-pencil"></i>&nbsp;
                                                            Edit
                                                        </a>
                                                        <a href="/dealers/orders/{{ order.id }}/cancel" class="btn btn-sm btn-default" role="button">
                                                            <i class="fa fa-trash"></i>&nbsp;
                                                            Cancel
                                                        </a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td colspan="4">
                                                        No Pending Orders
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="shipments">
                                    <div class=" element-no-top element-no-bottom" data-os-animation="none" data-os-animation-delay="0s">
                                        <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Order ID</th>
                                                <th>Order Date</th>
                                                <th>Shipped On</th>
                                                <th>Order Amount</th>
                                                <th>Shipped Thru</th>
                                                <th>Tracking ID</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if shippedOrders %}
                                                {% for order in shippedOrders %}
                                                <tr>
                                                    <td>{{ order.id }}</td>
                                                    <td>{{ order.created_at|date("F jS | g:iA") }}</td>
                                                    <td>{{ order.shipped_on|date("F jS | g:iA") }}</td>
                                                    <td>{{ ['$', order.total_value]|join }}</td>
                                                    <td>{{ order.shipping_provider }}</td>
                                                    <td>{{ order.tracking_number }}</td>
                                                </tr>
                                                {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td colspan="4">
                                                        No Shipped Orders
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="resources">
                                    <div class=" element-no-top element-no-bottom" data-os-animation="none" data-os-animation-delay="0s">
                                        <p>
                                            This will soon have tons of resources for you, your sales-staff and customers alike. Watch this space!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section swatch-black section-text-shadow section-inner-shadow">
            <div class="background-overlay grid-overlay-0 " style="background-color: rgba(123,86,159,1);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <header class="text-center element-tall-top element-no-bottom os-animation condensed" data-os-animation="fadeIn" data-os-animation-delay=".0s">
                            <h1 class="bigger hairline bordered bordered-normal">
                                Worried about the safety of your account?
                            </h1>
                            <p class="lead">
                                Please feel free to reset your password.
                            </p>
                        </header>
                        <a href="#" class="btn btn-primary btn-lg element-short-top element-tall-bottom btn-custom os-animation" target="_blank" data-os-animation="fadeInUp" data-os-animation-delay="0.3s ">
                            Reset Password
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </article>

    {% partial "simple-footer" %}
</div>