description = "Default layout for almost all pages"
==
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ this.page.title }}</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,300italic,400italic,600italic' rel='stylesheet' type='text/css'>
        
        <!-- STYLESHEETS -->
        <link rel="stylesheet" href="{{ [
            'assets/css/bootstrap.css',
            'assets/css/theme.css',
            'assets/css/color-defaults.css',
            'assets/css/swatch-white.css',
            'assets/css/swatch-blue.css',
            'assets/css/swatch-gray.css',
            'assets/css/swatch-black.css',
            'assets/css/swatch-white-black.css',
            'assets/css/swatch-white-green.css',
            'assets/css/swatch-white-red.css',
            'assets/css/fonts.css',
            'assets/css/custom.css',
        ]|theme }}">

    </head>
    <body class="transparent-header pace-on pace-counter" id="vue-app">
        <div class="pace-overlay"></div>
        
        <!-- Flash Messaging -->
        <div id="flashmessages">{% partial "flash-message" %}</div>
        
        {% page %}

        <script src="{{ [
            'assets/js/packages.js',
            'assets/js/theme.js',
            'assets/js/custom.js'
        ]|theme }}"></script>
        
        {% framework extras %}

    </body>
</html>
