description = "Default layout for almost all pages"

[productDisplay]

[dealerSession]
security = "all"
redirect = "dealer-login"
==
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ this.page.title }}</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,300italic,400italic,600italic' rel='stylesheet' type='text/css'>
        
        <!-- STYLESHEETS -->
        <link rel="stylesheet" href="{{ [
            'assets/css/bootstrap.css',
            'assets/css/theme.css',
            'assets/css/color-defaults.css',
            'assets/css/swatch-white.css',
            'assets/css/swatch-blue.css',
            'assets/css/swatch-gray.css',
            'assets/css/swatch-black.css',
            'assets/css/swatch-white-black.css',
            'assets/css/swatch-white-green.css',
            'assets/css/swatch-white-red.css',
            'assets/css/fonts.css',
            'assets/css/revolution.css',
            'assets/css/custom.css'
        ]|theme }}">

    </head>
    <body class="transparent-header pace-on pace-counter" id="vue-app">
        <div class="pace-overlay"></div>
        
        <!-- Flash Messaging -->
        <div id="flashmessages">{% partial "flash-message" %}</div>
        
        {% component 'dealerSession' %}
        
        {% page %}

        <script src="{{ [
            'assets/js/packages.js',
            'assets/js/theme.js',
            'assets/js/revolution.js',
            'assets/js/custom.js'
        ]|theme }}"></script>
        
        {% framework extras %}

        <!-- Revolution Slider -->
        <script type="text/javascript">
        jQuery(document).ready(function()
        {
            jQuery('.tp-banner').show().revolution(
            {
                delay: 4000,
                onHoverStop: "on", // Stop Banner Timer at Hover on Slide on/off
                thumbWidth: 50, // Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
                thumbHeight: 50,
                thumbAmount: 3,
                hideThumbs: 0,
                navigationType: "bullet", // bullet, thumb, none
                navigationArrows: "none", // nexttobullets, solo (old name verticalcentered), none
                navigationStyle: "square", // round,square,navbar,round-old,square-old,navbar-old, or any from the list in the docu (choose between 50+ different item), custom
                navigationHAlign: "center", // Vertical Align top,center,bottom
                navigationVAlign: "bottom", // Horizontal Align left,center,right
                navigationHOffset: 0,
                navigationVOffset: 20,
                touchenabled: "on", // Enable Swipe Function : on/off
                stopAtSlide: -1, // Stop Timer if Slide "x" has been Reached. If stopAfterLoops set to 0, then it stops already in the first Loop at slide X which defined. -1 means do not stop at any slide. stopAfterLoops has no sinn in this case.
                stopAfterLoops: -1, // Stop Timer if All slides has been played "x" times. IT will stop at THe slide which is defined via stopAtSlide:x, if set to -1 slide never stop automatic
                hideCaptionAtLimit: 0, // It Defines if a caption should be shown under a Screen Resolution ( Basod on The Width of Browser)
                hideAllCaptionAtLilmit: 0, // Hide all The Captions if Width of Browser is less then this value
                hideSliderAtLimit: 0, // Hide the whole slider, and stop also functions if Width of Browser is less than this value
                fullWidth: "off",
                shadow: 0
            });
        });
        </script>
        <!-- Revolution Slider -->

        <!-- Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-73034609-1', 'auto');
            ga('send', 'pageview');
        </script>
        <!-- Google Analytics -->

    </body>
</html>