<footer id="footer" role="contentinfo">
    <section class="section swatch-black">
        <div class="container">
            
            <div class="row element-short-top element-short-bottom">
                <div class="col-md-6 text-center">
                    <p>
                        <small>
                            Copyright © 2015 VerveTronix. All rights reserved.
                        </small>
                    </p>
                </div>
                <div class="col-md-6 text-center">
                    <p>
                        <small>
                            Crafted with <i class="fa fa-heart" style="color:red;"></i> by
                            <a href="http://www.sublimearts.me" target="_blank">
                                SublimeArts
                            </a>
                        </small>
                    </p>
                </div>
            </div>

        </div>
    </section>
</footer>